h1,h3{
  color:yellow;
  display:table; /* keep the background color wrapped tight */
  margin: 0px auto 0px auto; /* keep the table centered */
  background-color:#ffffff;
 

}
 
h2{
  color:rgb(245, 153, 5);
   background-color:#ffffff;
  
}
.App {
  text-align: center;
  background-image:url("https://icatcare.org/app/uploads/2018/07/Helping-your-new-cat-or-kitten-settle-in-1.png");
 
  
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
 
  
}
 
 
.header{
  padding: 10px;
  font-size: 17px;
  border: 1px solid rgb(19, 61, 225);
  float: left;
  width:100%;
  background:  blue;
}
.header form {
  float: left;
}
  .right{
    align-content:right;
 
  }
  
   
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}